.field-container {
  display: flex;
  flex-direction: column;

  &.loading::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid $grey;
    border-top-color: $blue;
    animation: spinner .6s linear infinite;
  }

  label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    background: $light-grey;
    border: 1px solid $dark-grey;
    border-radius: 0;
    padding: 0.8rem 1rem;

    &:disabled {
      color: $grey;
      border: 1px solid $grey;
    }

    &:active,
    &:focus {
      border: 1px solid $blue;
    }
  }
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}
