$small: 600px !default;
$medium: 960px !default;
$large: 1360px !default;

.container {
  margin: 0 auto;
  padding: 0 1em;

  @media screen and (min-width: $small) {
    padding: 0 2rem;
  }

  @media screen and (min-width: $large) {
    max-width: $large;
  }
}

section {
  padding: 2rem 0;
}