@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.65rem;
  color: $graphite;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  color: $black;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
}