.pickup-form {
  padding: 2rem;
  background: $yellow;

  @media screen and (min-width: $medium) {
    width: 30rem;
    margin: 0 auto;
  }

  .search {
    position: relative;

    .list {
      position: absolute;
      width: 100%;
    }
  }
}